In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('temp/Final_Dataset.csv')
df = df.sample(frac = 1)
df

,Unnamed: 0,tx_hash,indegree,outdegree,in_btc,out_btc,total_btc,mean_in_btc,mean_out_btc,in_malicious,out_malicious,is_malicious,all_malicious,out_and_tx_malicious
42268,42268,9bbcddc5b548b8744c77956bbc5150248729ecbebc7b24...,1.0,2.0,47.520000,47.520000,95.04000,47.520000,23.760000,0.0,0.0,0.0,0.0,0.0
109549,109549,cb3f265aa94c4a8dac960b83b0b83cc382ff3baacc521d...,1.0,1.0,0.010000,0.010000,0.02000,0.010000,0.010000,0.0,0.0,0.0,0.0,0.0
82147,82147,d8edacbdc8a4f880463f5f1507b3fc3bd6882ffc0585e2...,0.0,1.0,0.000000,50.000000,50.00000,0.000000,50.000000,0.0,0.0,0.0,0.0,0.0
594744,594744,9c75cdac955d41b93f6bd7c17ef7017f02579edeeaed01...,1.0,2.0,49.000000,49.000000,98.00000,49.000000,24.500000,0.0,0.0,0.0,0.0,0.0
730445,730445,c87b1e8810a2acbc0703d595ab356973c738c46ca1b4b5...,5.0,1.0,3.365365,3.355365,6.72073,0.673073,3.355365,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
702517,702517,df9037c7195e059c206b76498c896e7d0367914abf64a4...,1.0,2.0,3.030000,3.020000,6.05000,3.030000,1.510000,0.0,0.0,0.0,0.0,0.0
191245,191245,7b9f37ce42d4ef2df50b9c3d1ad13c17c26d2705fb989d...,1.0,2.0,40.950000,40.950000,81.90000,40.950000,20.475000,0.0,0.0,0.0,0.0,0.0
143140,143140,6c15eed4e0c1b3835f15cb5c87e92042729bdae921d669...,1.0,1.0,0.500000,0.500000,1.00000,0.500000,0.500000,0.0,0.0,0.0,0.0,0.0
944629,944629,a12677c0caf10cdfd892b7e129be217e98ebe5686aad8a...,3.0,1.0,0.040000,0.040000,0.08000,0.013333,0.040000,0.0,0.0,0.0,0.0,0.0
757008,757008,66ee06ec9ac2f098def6d7794b9371bcd73145401245d1...,1.0,2.0,6.956000,6.956000,13.91200,6.956000,3.478000,0.0,0.0,0.0,0.0,0.0

In [3]:
df.drop('Unnamed: 0', axis=1, inplace=True)
df.drop('tx_hash', axis=1, inplace=True)
df.drop('in_malicious', axis=1, inplace=True)
df.drop('out_malicious', axis=1, inplace=True)
df.drop('is_malicious', axis=1, inplace=True)
df.drop('all_malicious', axis=1, inplace=True)

In [4]:
print('No Frauds', round(df['out_and_tx_malicious'].value_counts()[0]/len(df) * 100,7), '% of the dataset')
print('Frauds', round(df['out_and_tx_malicious'].value_counts()[1]/len(df) * 100,5), '% of the dataset')

No Frauds 99.9892011 % of the dataset
Frauds 0.0108 % of the dataset

In [5]:
df['out_and_tx_malicious'].value_counts()

0.0    999997
1.0       108
Name: out_and_tx_malicious, dtype: int64

In [12]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

scaled_df = df.copy()
scaled_df['indegree'] = scaler.fit_transform(scaled_df['indegree'].values.reshape(-1,1))
scaled_df['outdegree']= scaler.fit_transform(scaled_df['outdegree'].values.reshape(-1,1))
scaled_df['in_btc'] = scaler.fit_transform(scaled_df['in_btc'].values.reshape(-1,1))
scaled_df['out_btc']= scaler.fit_transform(scaled_df['out_btc'].values.reshape(-1,1))
scaled_df['total_btc']= scaler.fit_transform(scaled_df['total_btc'].values.reshape(-1,1))
scaled_df['mean_in_btc']= scaler.fit_transform(scaled_df['mean_in_btc'].values.reshape(-1,1))
scaled_df['mean_out_btc']= scaler.fit_transform(scaled_df['mean_out_btc'].values.reshape(-1,1))

In [13]:
scaled_df

,indegree,outdegree,in_btc,out_btc,total_btc,mean_in_btc,mean_out_btc,out_and_tx_malicious
42268,-0.110597,0.034657,-0.043030,-0.044539,-0.044056,-0.040605,-0.047841,0.0
109549,-0.110597,-0.161340,-0.063476,-0.065014,-0.064644,-0.063151,-0.064993,0.0
82147,-0.300667,-0.161340,-0.063481,-0.043470,-0.053815,-0.063156,-0.028891,0.0
594744,-0.110597,0.034657,-0.042394,-0.043901,-0.043415,-0.039902,-0.047307,0.0
730445,0.649681,-0.161340,-0.062032,-0.063573,-0.063192,-0.062836,-0.062577,0.0
...,...,...,...,...,...,...,...,...
702517,-0.110597,0.034657,-0.062177,-0.063717,-0.063337,-0.061718,-0.063910,0.0
191245,-0.110597,0.034657,-0.045858,-0.047371,-0.046903,-0.043723,-0.050214,0.0
143140,-0.110597,-0.161340,-0.063265,-0.064803,-0.064431,-0.062918,-0.064639,0.0
944629,0.269542,-0.161340,-0.063463,-0.065001,-0.064631,-0.063149,-0.064971,0.0
757008,-0.110597,0.034657,-0.060487,-0.062021,-0.061634,-0.059855,-0.062488,0.0

In [16]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(scaled_df.iloc[:,:-1], scaled_df['out_and_tx_malicious'], test_size = 0.2, random_state=2)

In [17]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(800084, 7)
(200021, 7)
(800084,)
(200021,)

In [18]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

In [19]:
def decision_tree_classification(X_train, y_train, X_test, y_test):
    # initialize object for DecisionTreeClassifier class
    dt_classifier = DecisionTreeClassifier()
    # train model by using fit method
    print("Model training starts........")
    dt_classifier.fit(X_train, y_train.values.ravel())
    print("Model training completed")
    acc_score = dt_classifier.score(X_test, y_test)
    print(f'Accuracy of model on test dataset :- {acc_score}')
    # predict result using test dataset
    y_pred = dt_classifier.predict(X_test)
    # confusion matrix
    print(f"Confusion Matrix :- \n {confusion_matrix(y_test, y_pred)}")
    # classification report for f1-score
    print(f"Classification Report :- \n {classification_report(y_test, y_pred)}")

In [20]:
decision_tree_classification(X_train, y_train, X_test, y_test)

Model training starts........
Model training completed
Accuracy of model on test dataset :- 0.9998400167982362
Confusion Matrix :-
 [[199988     10]
 [    22      1]]
Classification Report :-
               precision    recall  f1-score   support

         0.0       1.00      1.00      1.00    199998
         1.0       0.09      0.04      0.06        23

    accuracy                           1.00    200021
   macro avg       0.55      0.52      0.53    200021
weighted avg       1.00      1.00      1.00    200021